.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    padding: 0.6rem 1.6rem;
    color: $text-color;
    &-round {
        border-radius: 50%;
    }
    &-disabled {
        cursor: default;
        color: $text-color;
    }
    &-middle {
        width: 14rem;
        padding: 1rem 0;
        border-radius: 0.6rem;
    }
    &:hover {
        opacity: 0.85;
    }
}
