.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1.6rem;
    color: $text-color;
    &-round {
        border-radius: 50%;
    }
    &-disabled {
        cursor: default;
        color: $text-color;
    }
    &-middle {
        width: 12rem;
        height: 4rem;
        border-radius: 0.6rem;
    }
    &-large {
        width: 16rem;
        height: 5rem;
        border-radius: 0.8rem;
    }
    &-primary {
        background: $primary-color;
        color: $white-color;
    }
    &:hover {
        opacity: 0.9;
        &:hover {
            > span {
                margin-bottom: 0.1rem;
                transition: margin-bottom 0.3s ease-in;
            }
        }
    }
}
