.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    &-left {
        display: flex;
        align-items: center;
    }
    &-center {
        width: 52rem;
    }
    &-search {
        border-radius: 9.2rem;
    }
    &-right {
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btnUpload {
        border: 1px solid $gray-border-color;
        background: $white-color;
        span {
            margin-left: 4px;
        }
        &:hover {
            background: $gray-color;
        }
    }
    &-btnIconOnly {
        background: none;
        border: none;
        padding: 0.6rem 1.2rem;
    }
    &-avt {
        padding: 0;
        margin-left: 2.4rem;
        img {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
        }
    }
}
