$width-sidebar: 25.6rem;
.mainLayout {
    &-header {
        height: $header-height;
        background: $white-color;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    &-content {
        margin-top: $header-height;
    }

    &-sidebar {
        max-height: 100vh;
        position: fixed;
        top: $header-height;
        left: 0;
        overflow-y: scroll;
        padding: 0 0.4rem;
        width: $width-sidebar;
    }

    &-posts {
        height: 5000px;
        margin-left: $width-sidebar;
    }
}
