.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show {
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
}

.modal.hide {
  animation: fadeOut 0.3s ease-in-out;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-content {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.modal-header {
  background: $blue-color;
  color: $white-color;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 16px;
}
