.register {
    transform: scale(1);
    opacity: 1;
    &-form {
        padding: 1.6rem 4.8rem 0;
        &-text {
            margin-bottom: 1.2rem;
        }
        &-text:last-child {
            margin-bottom: 0;
            input {
                border-radius: 0.6rem;
            }
        }
    }
    &-submitBtn {
        background: $primary-color;
        color: $white-color;
        margin: 1.6rem auto;
    }
    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: 2.4rem 0;
        font-weight: 400;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &-loginBtnSwitch {
        color: $primary-color;
        margin-left: 4px;
        padding: 0;
        line-height: 1.6rem;
        background: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
