.sidebar {
    width: 24rem;
    padding-right: 0.6rem;
    &-navbar {
        padding: 0.8rem 0;
    }
    &-accounts {
        padding: 1.6rem 0;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
        border-bottom: 1px solid rgba(22, 24, 35, 0.12);
    }
    &-titleAccounts {
        font-weight: 500;
        font-size: 1.6rem;
        color: $text-color;
        padding: 0 0.8rem;
    }
    &-accountList {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
    }
    &-accountItem {
        padding: 0.8rem;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
        border-radius: 4px;
    }
    &-accountLink {
        display: flex;
        align-items: center;
        color: $text-color;
    }
    &-infoAccountContainer {
        margin-left: 1.2rem;
    }
    &-avatarUser {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &-titleUser {
        font-size: 1.6rem;
        font-weight: 600;
        max-width: 14.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &-seeMoreBtn {
        margin-top: 0.8rem;
        padding: 0 0.8rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: $primary-color;
    }
}
