$animation-duration-spinner: 1200ms;
$white-color: #fff;
$blue-color: #1890ff;
$primary-color: #fe2c55;
$danger-color: #ff0505;
$light-green-color: #25f4ee;
$black-color: #000;
$text-color: rgba(22, 24, 35, 1);
$gray-color: rgba(22, 24, 35, 0.03);
$light-gray-color: rgba(255, 255, 255, 0.12);
$gray-border-color: rgba(22, 24, 35, 0.12);
$header-height: 6.4rem;
$overlay-color: rgba(0, 0, 0, 0.5);
